
        <div class="d-flex p-2 bg-dark text-white">
            <h1>Not a member?</h1>
        </div>
        <div class="container-fluid bg-success">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-1">
                            <label for="validationCustom02" class="form-label"></label>
                        </div>
                        <div class="col-3">
                            <label for="validationCustom01" class="form-label">Name</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="validationCustom01" data-bind="textInput: name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-1">
                            <label for="validationCustom02" class="form-label"></label>
                        </div>
                        <div class="col-3">
                            <label for="validationCustom02" class="form-label">Username</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="validationCustom02" data-bind="textInput: username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-1">
                            <label for="validationCustom02" class="form-label"></label>
                        </div>
                        <div class="col-3">
                            <label for="validationCustom02" class="form-label">Password</label>
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control" id="validationCustom02" data-bind="textInput: password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-1">
                            <label for="validationCustom02" class="form-label"></label>
                        </div>
                        <div class="col-3">
                            <label for="validationCustom02" class="form-label">Email</label>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control" id="validationCustom02" data-bind="textInput: email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-success">
                    <div class="row">
                        <div class="col-4">
                            <label for="validationCustom02" class="form-label"></label>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary align-content-center" data-bind="click: signUp">SIGN UP</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>